@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .search-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px 0;
    }   
    .forms{
        display: block;
        padding: 0;
        border-right: 1px solid #E8E8E8;
    }
    .forms:nth-of-type(4) {
        border-right: 1px solid #E8E8E8; 
    }
    .form-center{
        padding: 0 15px;
        border-radius: 30px;
        margin: 10px 30px 30px 30px;
    }
    .forms__btn {
        padding: 24px 20px;
    }
    .forms__btn:focus {
        padding: 24px 20px;
    }
    .cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        margin-bottom: 30px;
    }
    .subs__header{
        padding: 0 15px;
    }
    .subs__title{
        font-size: 54px;
        line-height: 60px;
    }
    .comfort-container{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .facilities {
       margin-right: 0;
       margin-bottom: 50px;
    }
    .facilities > .faci-btn{
       display: flex;
       justify-content: center;
    }
    .Explore > .faci-btn{
       display: flex;
       justify-content: center;
    }
    .facilities__title {
        text-align: center;
    }
    .facilities__descr{
        text-align: justify;
    }
    .discover__img{
        max-width: 100%;
        object-fit: cover;
        height: 520px;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .disco-flex{
        justify-content: space-around;
       flex-wrap: wrap;
    }
    .opinion-main{
        padding: 0 30px;
    }
     .location-flex {
        padding: 28px 25px;
    } 
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 50px;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .nav{
        position: relative;
        margin-bottom: 30px;
    }
    .nav__list{
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        z-index: 15;
        transform-origin:  0 0;
        background: #24ab71bd;
        min-width: 300px;
        margin-top: 20px;
        transform: scaleY(0);
    }
    .nav__link{
        display: inline-block;
    }
    .nav__img{
        margin: auto;
        display: inline-block;
    }
    .btn__nav{
       transform: scaleY(1);
    }
    .nav__link{
        color:#fff;
        z-index: 12;
    }
    .btn__nav:focus ~ .nav__list{
       transform: scaleY(1);
    }
    .subs__header{
        width: 100%;
        background: rgba(255, 255, 255, 0.767);
        border-top-right-radius: 99px;
    }
    .video__bg{
        width: 100%;
    }
    .subs__title {
        text-align: center;
        color: #2b2b2b;
    }
    .perfect{
        background: #24AB70;
        color: #fff;
    }
        .subs__descr{
            text-align: center;
            color: #2b2b2b;
        }
    .btn__link{
       display: flex;
       justify-content: center;
       margin-top: 30px;
    }
    .search{
        background: rgba(255, 255, 255, 0.767);
    }
    .form-center {
        padding: 15px 15px;
    }
    .hotels__title{
        font-size: 35px;
    }
    .services__card:nth-of-type(1){
        grid-column: span 4;
        grid-row: span 2;
    }
    .services__card:nth-of-type(2){
        grid-column: span 2;
        grid-row: span 3;
    }
    .opinion-flex {
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }
    .author__img{
        border-radius: 50%;
        margin-bottom: 50px;
    }
    .sponsors{
        flex-wrap: wrap;
    }
    .location-flex{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .map-description{
        text-align: center;
        margin-bottom: 60px;
    }
    .location__descr{
        text-align: justify;
    }
    .location__title{
        font-size: 35px;
    } 
    .footer{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .search-form{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 25px;
    }
    .forms{
        max-width: 170px;
        width: 100%;
    }
    .views{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .hotels__descrip{
        margin-bottom: 25px;
        text-align: justify;
    }
    .hotels__title{
        text-align: center;
    }
    .services__card:nth-of-type(1){
        grid-column: span 2;
        grid-row: span 1;
    }
    .services__card:nth-of-type(2){
        grid-column: span 2;
        grid-row: span 1;
    }
    .services__card:nth-of-type(3){
        grid-column: span 2;
    }
    .services__card{
        grid-column: span 2;
    }
    .sponsors__img {
        max-width: 100px;
        margin-bottom: 35px;
    }
}


@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 425px) {
    .container {
        max-width: 375px;
    }
    .opinion__descr{
        font-size: 14px;
        line-height: 21px;
    }
    .facilities__descr{
        font-size: 14px;
        line-height: 21px;
    }
    .location__descr {
        font-size: 14px;
        line-height: 21px;
    }
    .location-flex{
        margin: 5px;
    }
    .location__title {
        font-size: 25px;
    }
    .email{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .email__input{
        border: 1px solid grey;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .email__send{
        padding: 10px 30px;
        font-size: 16px;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
    }
    .subs__title {
        font-size: 34px;
    }
    .services__card:nth-of-type(1){
        grid-column: span 4;
    }
    .services__card:nth-of-type(2){
        grid-column: span 4;
    }
    .services__card:nth-of-type(3){
        grid-column: span 4;
    }
    .services__card{
        grid-column: span 4;
    }
    .forms__icon{
        margin-bottom: 15px;
    }
    .forms__title{
        margin-bottom: 15px;
    }
    .forms{
        margin-bottom: 21px;
    }
}
@media (max-width: 375px) {
    .container {
        max-width: 350px;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 280px;
    }
    .nav__img{
        max-width: 70px;
        width: 100%;  
        margin-left: 80px;
    }
    .nav__btn {
        padding: 6px 12px;
        font-size: 14px;
    }
    .nav__list{
        min-width: 250px;}
    .subs__title{
        font-size: 25px;
        line-height: 38px;
    }
    .subs__descr{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .watch {
        font-size: 19px;
    }
    .forms{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forms__title{
       text-align: center;
       margin-bottom: 10px;
    }
    .forms:nth-of-type(4){
        padding: 0;
        margin: 0;
    }
    .forms:nth-of-type(1){   
        padding: 0;
        margin: 0;
    }
    .forms__host{
        margin: 0;
    }
    .forms__icon{
        margin-bottom: 15px;
    }
    .forms__host > input{
        display: flex;
        justify-content: flex-start;
        border: 1 px solid gray;
    }
    .forms__btn-text{
        font-size: 16px;
    }
    .forms__btn {
        padding: 23px 15px;
    }
    .hotels__title {
        font-size: 25px;
        line-height: 40px;
    }
    .cards__info{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .cards__info-prise {
        position: relative;
         padding: 0 15px;
         margin-bottom: 15px;
    }
    .cards__title{
        text-align: center;
    }
    .facilities__title{
        font-size: 30px;
        line-height: 40px;
    }
    .services__card:nth-of-type(1){
        grid-column: span 4;
    }
    .services__card:nth-of-type(2){
        grid-column: span 4;
    }
    .services__card:nth-of-type(3){
        grid-column: span 4;
    }
    .services__card{
        grid-column: span 4;
    }
    .discover__img {
        height: 258px;}
    .opinion__descr{
        font-size: 14px;
        line-height: 21px;
    }
    .facilities__descr{
        font-size: 14px;
        line-height: 21px;
    }
    .location__descr {
        font-size: 14px;
        line-height: 21px;
    }
    .location-flex{
        margin: 5px;
    }
    .location__title {
        font-size: 25px;
    }
    .email{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .email__input{
        border: 1px solid grey;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .email__send{
        padding: 10px 30px;
        font-size: 16px;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
    }
}