@import url(fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    position: relative;
}

ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    background: #24AB70;
    border-radius: 35px;
    color: #fff;
    border: none;
    outline: none;
}
body{
    font-family: "open sans";
    font-weight: 400;
}


/* HEADER START*/

/*NAV ST*/
.header{
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: relative;
}
.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(1);
    transition: 0.5s;
    z-index: 15;
}
.nav__link{
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    transition: 0.3s;
    display: block;
    padding: 20px 30px;
}
.nav__btn{
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
}
.subs{
    position: relative;
    height: 100%;
}
.subs__header{
    width: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 656px;
}
.subs__title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 30px;
}
.video__bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 99px ;
}
.subs__descr{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 50px;
}
.btn_watch{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border:  transparent;
    background: #13eb8d1c;
    padding: 13px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}
.btn_play-icon{
    font-size: 20px;
    color: #24AB70;
    margin-right: 24px;
    transition: 0.5s;
}
.watch{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
    z-index: 2;
}




.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 9;
    width: 100%;
    min-height: 150px;
    margin-bottom: 50px;
}
.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.08);
    border-radius: 280px;
    overflow: hidden;
    position: relative;
}
.search-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 85px;
}
.forms{
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 30px;
    border-right: 1px solid #E8E8E8;
}
.forms:nth-of-type(4){
    border-right: 1px solid transparent;
    padding-right: 0;
}
.forms:nth-of-type(1){
    padding-left: 0;
}
.forms__icon{
    font-size: 21px;
    color: #24AB70;
    height: 20px;
}
.forms__title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 8px;
}
.forms__host{
    margin-left: 10px;
}
input[type="date"]{
    outline: none;
    border:  none;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    color: #555555;
    cursor: pointer;

}
::-webkit-calendar-picker-indicator{
    background-color: #24AB70;
    opacity: 0;
    padding: 5px;
    border-radius: 5px;

}
input[type="text"]{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    color: #555555;
    outline:  none;
    border: none;
}
.forms__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24AB70;
    border-radius: 280px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 46px 30px;
    position: relative;
    transition: 0.5s;
}
.forms__icon-btn{
    font-size: 19px;
    margin-right: 12px;
    color: #fff;
    transition: 0.5s;
}
.forms__btn-text{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    transition: 0.5s;
}
.btn__nav{
    float: left;
    position: absolute;
    left: 0;
    font-size: 25px;
    transform: scaleY(0);
    outline: none;
    border: none;
    background: transparent;
}
.search_input{
    padding: 15px;
    outline: none;
    border-radius: 15px;
    border: 2px solid #24AB70;
    position: absolute;
    right: 0;
    transform: scale(0);
    transition: 0.6s;
    background: #24AB70;
    color: #fff;
    font-size: 15px;
}

.search_input::placeholder{
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
}
/*NAV END*/
/*HEADER END*/



/***************************************************** */


/* MAIN*/

/*HOTELS START*/
.hotels{
    margin-top: 120px;
    position: relative;
    margin-bottom: 147px;
}
.views{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}
.hotels__title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 20px;
}
.view__link{
    display: block;
    background: rgba(36, 171, 112, 0.1);
    border-radius: 280px;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #24AB70;
    padding: 6px 25px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.card{
    overflow: hidden;
    border-radius: 16px 16px 0px 0px;
}
.cards__img{
    max-width: 411px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    transition: 0.5s;
    position: relative;
}
.cards__descr{
    font-size: 12px;
    line-height: 18px;
    color: #24AB70;

}
.hotels__descrip{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    color: #555555; 
    max-width: 479px;
    width: 100%;
}
.cards-descr-blocks{
    padding: 24px 24px 38px 24px;
    position: relative;
    height: 100%;
    transition: 0.5s;
}
.cards__title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
    margin-top: 8px;
    margin-bottom: 24px;
}
.cards__info-prise{
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    color: #222222;

}
.cards__info-prise::after{
    display: block;
    content: "";
    height: 16px;
    width: 2px;
    top: 0;right: 0; bottom: 0;
    margin: auto;
    position: absolute;
    background: #DDDDDD;
}
.cards__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards__info-estimation{
    font-size: 16px;
    line-height: 18px;
    color: #222222;
    margin-left: 12px;
}
.raitings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-mini {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
}
.rating-mini span {
	padding: 0;
	font-size: 21px;
	line-height: 1;
	color: lightgrey;
    border-radius: 10px;
}
.rating-mini > span:before {
	content: '★';
    border-radius: 10px;
}
.rating-mini > span.active {
	color: #F95F5F;
}
.booking{
    position: relative;
}
.book-now{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
    transition: 0.6s;
    transform: scaleY(0);
    transform-origin: 0 0;
}
.booking__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #24ab7185;
    color: #fff;
    font-size: 19px;
}
.book__icon{
    margin-right: -20px;
    transform: translateX(-30px);
}
/*HOTELS END*/
/************************************* */


/*comfot start*/
.comfort{
    margin-bottom: 120px;
}
.btn__g{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #24AB70;
    border-radius: 35px;
    display: inline-block;
    padding: 16px 32px;
}
.comfort-container{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.facilities{
    max-width: 421px;
    width: 100%;
    margin-right: 24px;
}
.facilities__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}
.facilities__descr{
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    margin-bottom: 50px;

}
.services__card{
    padding: 45px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}
.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.services__descr{
    font-size: 16px;
    line-height: 28px;
    color: #222222;
    text-align: center;
    width: 100%;
}
.services__icon{
    margin-bottom: 24px;
    font-size: 35px;
    color: rgba(36, 171, 112, 1);
    height: 35px;
}
/*comfot end*/


/*DISCOVER START*/
    .discover{
        margin-bottom: 120px;
    }
    .explore__title{
        margin-bottom: 20px;
    }
    .explore__descr-change-bottom{
        margin-bottom: 24px;
    }
    .Explore{
        max-width: 500px;
        width: 100%;
        margin: auto;
        position: relative;
    }
    .disco-flex{
        display: flex;
        justify-content: center;align-items: center;
        position: relative;
    }
    .discover__img{
        max-width: 628px;
        width: 100%;
    }
/*DISCOVER END*/

/****************************** */


/*OPINION ST*/
    .opinion-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .opinion-main{
        max-width: 690px;
        width: 100%;
        padding-left: 77px;
    }
    .author__img{
        max-width: 411px;
        width: 100%;
        object-fit: cover;
    }
    .opinion__descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    position: relative;
    text-align: justify;
    margin-bottom: 57px;
    }
    .marks{
        color: #24AB70;
        max-width: 26px;
        max-height: 23px;
        font-size: 46px;
    }
    .marks-bottom{
        position: absolute;
        top: 100%;
    }
    .opinion__author{
        font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
    margin-bottom: 12px;
    }
    .opinoin__post{
        font-size: 16px;
    line-height: 28px;
    color: #555555;
    }
/*OPINION END*/

/*************************** */

/*SPONSORS START*/
.sponsors{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.sponsors__img{
    margin: 20px;
    max-width: 93px;
    width: 100%;
    object-fit: cover;
}
/*SPONSORS  END*/

/**************************** */

/*LOCATION START*/
.map{
    position: relative;
    height: 100%;
    width: 100%;
}
.maps__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 16px;
}
.location{
    position: relative;
    height: 677px;
    display: grid;
    align-items: flex-end;
}
.location-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #fff;
    margin: 0 43px 43px 43px;
    padding: 44px 66px;
    border-radius: 16px;
}
.map-description{
}
.location__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #222222;
    margin-bottom: 16px;
}
.location__descr{
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    max-width: 510px;
    width: 100%;
}
.email{
    background: #FAFAFA;
    border-radius: 50px;
}
.email__send{
    border: transparent;
    outline: none;
}
.email__input{
    border: transparent;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #555555;

}
.email__input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #555555;

}

/*LOCATION END*/
/*MAIN END*/
